*{
  text-align: center;
  font-family: verdana;

}

.class6 {
    -webkit-transition: opacity 0.25s linear;
}
.class4 {

    -webkit-transform: translate(0px, 0px);
    opacity: 1;
}

div{
  display: block;
}
.navbar{
padding: 0px;
display: flex;
align-items: center;
width: 100%;
height: 60px;
margin: 0 auto;
z-index: 15;
position: fixed;
}

.navbar h1{
color: #f1356d;
}

.navbar a {
margin-left: 16px;
text-decoration: none;
padding: 6px;
}

.navbar a:hover {
color: #f1356d;
}

.content{
  max-width: 960px;
  margin: 40px auto;
  padding: 20px;
}

.navbar .links{
  margin-left: auto;
}
.default {
  position: absolute;
  left: 0px;
  top: 0px;
  transform-origin: 0px 0px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  text-align: center;
}

.class19 {
  -webkit-transition: opacity 0.2s ease;
}

.class5 {
  -webkit-transform: translate(0px, 0px);
  opacity: 0;
}